extends layout

block content
  h1= title
  p Welcome to #{"the home page of parking app"}
  p
  a(href='/login') Login
  p
  a(href='/create') Create Account
  p
  a(href='/profile') Profile Page Testing
  p
  a(href='/settings') Settings Testing
