doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    style(type="text/css").
      .background {
        background-color: #d8e0e6;
      }
      h4  {
        color: #666666;
      }
    block content
