extends userlayout

block content
    head
        h1 Arrival

    <body class = "background">
        h3 Please alert the parking manager when you have arrived. You can do this by hitting the button below. If you have any questions, please reach out to the manager via the chat feature. Thank you!
        <div class="container">
            <div class="box">
                p 
                br
                br
                br
                form(align = "center" action='#', method = 'POST')
                    input(type='submit' value='Arrived!')
                p
                br
                br
            </div>
            br
            

            
            </div>
        