extends userlayout

block content
    body
        h1 Payment Center

    <body class = "background">
    
            <div class="container">
            <div class="box">
                h3 <b>Make Payment</b>
                p Please enter your balance in the box below and hit 'Pay' to complete the transaction. You will receive notification of the payment shortly. Thank you!
                form(align = "center" action='#', method = 'POST')
                label(for='payment')
                input#payment(type='text' 
                name='payment'
                placeholder = '0.00'
                required = '')
                br
                p
                p
                p
                br
                input(type='submit' value='Pay')
                p
            </div>
            <div class="box"> 
                h3 Add Credit
            form(align = "center" action='#', method = 'POST')
                label(for='credit')
                input#credit(type='text' 
                name='credit'
                placeholder = '0.00'
                required = '')
                br
                p
                p
                p
                br
                input(type='submit' value='Add to my Account')

               

                

            </div>
            
            </div>

   


