extends userlayout

block content
    body
        h1 Payment Center

    <body class = "background">
            <div class="container">
            <div class="box">
                h3 <b>Amount Available</b>
                p 
                h2 Balance Here
                p
            </div>
            <div class="box"> 
                h3 Add Credit
            form(action='#', method = 'POST')
                label(for='credit')
                input#username(type='text' 
                name='credit'
                placeholder = '0.00'
                required = '')
                br
                p
                p
                p
                br
                input(type='submit' value='Add to my Account')

               

                

            </div>
            
            </div>

   


