extends userlayout
block content 

    <head>
    
        //- <img src="https://www.shutterstock.com/image-vector/map-city-600nw-671959120.jpg" alt="map" style="width: 100%">
    
        //- <img src="https://i.pinimg.com/originals/e6/04/bd/e604bd49312560cc2e4ce08392c60cd0.png" style="height:150px ; border-radius: 50%; border: 10px solid #432b06">
    
    <body style="background-image: url(https://www.shutterstock.com/image-vector/map-city-600nw-671959120.jpg)">
        p 
        p 
        p 
        <img src="https://i.pinimg.com/originals/e6/04/bd/e604bd49312560cc2e4ce08392c60cd0.png" style="height:150px ; border-radius: 50%; border: 10px solid #432b06">
        h2 Hello USER
            
    