extends userlayout
extends layout
block content 

    <head>
        h1 Welcome, User
 
    
    <body class = "background">
        <p style= "float:right"> Your upcoming events:
        //- <img src="https://i.pinimg.com/originals/e6/04/bd/e604bd49312560cc2e4ce08392c60cd0.png" style="height:150px ; border-radius: 50%; border: 10px solid #432b06"> 
        
        
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        p p
        v
        v p p
        p p
        p p
        

        
        
    

   
            
    