extends userlayout

block content
    head
        h1 Settings
    
    <body class = "background">
        <div class="box-wrapper">
            <div id=box1>
                h3 <b>Your car</b>
                p
                text License #:
                p
                text Make:
                p
                text Model:
                p
                text Year:
                p 
                text Hello:
                
            </div>
            
            
            
        </div>
        

