extends userlayout

block content
    head
        h1 Settings
    
    <body class = "background">
        <div class="container">
            <div class="box">
                h3 <b>Your Car</b>
                p 
                p License Plate:
                p
            </div>
            <div class="box"> 
                h3 Your Profile
                p
                p First Name:
                p 
                p Surname:
                p
                p Email:

                

            </div>
            <div class="box"> 
                h3 Your Payment Method
                p
                p Card Number:
            </div>
            
            </div>
        

