doctype html
html
    
    head
        
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        
    body 
        style(type="text/css").
            body {margin:0;
            
            }
            .background {
                background-image: url("https://www.shutterstock.com/image-vector/map-city-600nw-671959120.jpg");
                background-repeat: no-repeat;
                background-size: 100vw 35vh;
                background-attachment: absolute;
                background-color: #d8e0e6;
                
                
            }

            ul {
                position: fixed;
                top: 0;
                width:95%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #38444d;
            }
            li {
                float: left;
            }
            li a, .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            }
            li a:hover, .dropdown:hover .dropbtn {
            background-color: #53b0b5;
            }

            li.dropdown {
            display: inline-block;
            }

            .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            }

            .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            }

            .dropdown-content a:hover {background-color: #f1f1f1;}

            .dropdown:hover .dropdown-content {
            display: block;
            }
            .active {
            background-color: #53b0b5;
            }
            h1 {
                top: 5%;
                text-align: center;
                position: relative;
                font-size: 90px;
                //- font-family: Consolas,monaco,monospace;
                color: #273036;
            }
            .container {
                font-family: monospace;
                display: flex;
                border: 2px solid black;
            }
            .box {
                flex: 1;
                margin: 15px;
                padding: 20px;
                border: 2px solid #ccc;
            }
            h3  {
                text-align: center;
            }
            

            




        nav#navbar
        div#container
            ul
                
                li #[<a class = "active" href = "/profile"> Home]
                li #[a(href = "/") Park]
                li #[a(href = "/payments") Payment]
                <li style="float:right"> #[a(href = "/settings") Settings]
                <li style="float:right"><a href = "/notifications">Notfications</a></li>
                <li style="float:right"><a href = "/notifyadmindeparture">Departure</a></li>
                <li style="float:right"><a href = "/notifyadminarrival">Arrival</a></li>
                
                
        
    block content
